@media (min-width: 768px) {
    .c-align-option {
        width: 18% !important;
    }
    .elementor-347 .elementor-element.elementor-element-da0b0af .elementor-image img {
        width: 55% !important;
    }

    .elementor-110 .elementor-element.elementor-element-921d4d6 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px !important;
    }

    .c-promo {
        position: absolute !important;
        top: 45px !important;
        width: 190px !important;
        left: 0px !important;

    }

    .elementor-347 .elementor-element.elementor-element-71bf663:not(.elementor-motion-effects-element-type-background), .elementor-347 .elementor-element.elementor-element-71bf663 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        height: 480px !important;
    }

    .elementor-347 .elementor-element.elementor-element-f16f121 > .elementor-element-populated {
        margin: 129px 0px 0px 0px !important;
    }
}

@media (min-width: 100px) and (max-width: 767px) {

    .c-promo {
        position: absolute !important;
        top: 30px !important;
    }

    .elementor-element-ba48cb8 {
        display: none !important;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
         padding-bottom: 0px !important;
    }

    .elementor-element-9cf08c8 {
        margin-top: 40px;
    }

}

.elementor-347 .elementor-element.elementor-element-df2a39d > .elementor-widget-container.c-notif {
    margin: 0px 0px 0px 0px !important;
    padding: 6px 3px 7px 3px !important;
    background-color: transparent !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #aaaaaa5c !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.elementor-347 .elementor-element.elementor-element-df2a39d .elementor-heading-title.c-notif-t {
    color: #000000db !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}

.elementor-347 .elementor-element.elementor-element-127042c > .elementor-container {
    box-shadow: 0px 8px 14px 0px rgba(212,212,212,0.3) !important;
}

.elementor-72 .elementor-element.elementor-element-c5b634e:not(.elementor-motion-effects-element-type-background), .elementor-72 .elementor-element.elementor-element-c5b634e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    margin-top: 42px !important;
}
.elementor-347 .elementor-element.elementor-element-df2a39d > .elementor-widget-container{
    font-weight: 400 !important;
    border-width: 1px !important;
}