@media (min-width: 768px) {

    .elementor-110 .elementor-element.elementor-element-921d4d6 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px !important;
    }

    .c-kms-k .elementor-heading-title.elementor-size-default {
        margin-top: 0 !important;
    }

    .elementor-177 .elementor-element.elementor-element-71bf663:not(.elementor-motion-effects-element-type-background), .elementor-177 .elementor-element.elementor-element-71bf663 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        height: 480px !important;
    }

    #serch-filter-rental {
        margin-top: 15px !important;
		/* margin-bottom: 30px !important; */
		padding-right: 10px;
    }

    .elementor-177 .elementor-element.elementor-element-af3ceee > .elementor-container {
         min-height: unset !important;
    }

    .elementor-177 .elementor-element.elementor-element-af3ceee > .elementor-container {
        padding-bottom: 15px !important;
        padding-top: 15px !important;
    }

    .elementor-177 .elementor-element.elementor-element-65c33fa:not(.elementor-motion-effects-element-type-background), .elementor-177 .elementor-element.elementor-element-65c33fa > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        margin-top: 30px !important;
    }

    .elementor-177 .elementor-element.elementor-element-15493f4:not(.elementor-motion-effects-element-type-background), .elementor-177 .elementor-element.elementor-element-15493f4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        margin-bottom: 30px !important;
    }

    .elementor-177 .elementor-element.elementor-element-3e7edd4 > .elementor-widget-container {
        padding: 15px 15px 60px 15px !important;
    }
    .elementor-177 .elementor-element.elementor-element-3e7edd4 > .elementor-widget-container p {
        margin-bottom: 0 !important;
    }

    #c_gir {
        width: 21.5% !important;
    }
    #c_codedegem {
        width: 21.5% !important;
    }
    #c_fromyear {
        border: unset !important;
        width: 9% !important;
        padding-left: 0px !important;
    }
    #c_toyear {
        width: 9% !important;
        padding-right: 0px !important;
    }
    #fromprice {
        border: unset !important;
        padding-left: 0px !important;
        width: 9% !important;
    }
    #c_toprice {
        padding-right: 0px !important;
        width: 9% !important;
    }

    #fromprice select {
        border: unset !important;
    }
    #c_fromyear select {
        border: unset !important;
    }

    .elementor-177 .elementor-element.elementor-element-15493f4 > .elementor-container {
        min-height: 122px !important;
    }

    .elementor-button.elementor-size-lg {
        padding: 20px 5px !important;
    }
}

#serch-filter-rental select {
    background-color: #fff;
}

.c-kms-k .elementor-heading-title.elementor-size-default {
    margin-top: 0 !important;
}
.elementor-177 .elementor-element.elementor-element-da0b0af .elementor-image img {
    width: 55% !important;
    display: flex;
}

.elementor-177 .elementor-element.elementor-element-7880ab5 .elementor-image img {
    width: 55% !important;
}

.elementor-177 .elementor-element.elementor-element-da0b0af .widget-image-caption {
    color: #009889;
    font-size: 15px;
    font-style: normal;
    line-height: 3.1em;
}

.elementor-177 .elementor-element.elementor-element-da0b0af .widget-image-caption.c-km {
    color: #009889;
    font-size: 15px;
    font-style: normal;
    line-height: 3.1em;
}

.elementor-177 .elementor-element.elementor-element-3e7edd4 {
    min-height: 90px;
}

.elementor-element-c2d5f4b .elementor-field-type-select:parent {
    margin-left: 10px;
}
.elementor-element-c2d5f4b .elementor-field-type-select {
		margin-right: 5px;
}

.elementor-177 .elementor-element.elementor-element-da0b0af .widget-image-caption.c-km {
    color: #009889 !important;
    font-weight: 700 !important;
}
.elementor-177 .elementor-element.elementor-element-da0b0af .widget-image-caption {
    color: #009889 !important;
    font-weight: 700 !important;
}
.elementor-177 .elementor-element.elementor-element-7880ab5 .widget-image-caption {
    color: #009889 !important;
    font-weight: 700 !important;
}

.elementor-177 .elementor-element.elementor-element-7880ab5 .widget-image-caption {
    color: #009889;
    font-size: 15px;
    font-style: normal;
    line-height: 4.1em;
}

@media (min-width: 100px) and (max-width: 767px) {
	.elementor-element-c2d5f4b .elementor-field-type-select {
		margin-right: 0px;
	}
    #c_gir {
        padding-bottom: 0px !important;
            margin-bottom: 3px !important;
    }
    #c_codedegem {
        padding-bottom: 0px !important;
            margin-bottom: 3px !important;
    }
    #c_fromyear {
        padding-bottom: 0px !important;
            margin-bottom: 3px !important;
    }
    #c_toyear {
        padding-bottom: 0px !important;
            margin-bottom: 3px !important;
    }
    #fromprice {
        padding-bottom: 0px !important;
            margin-bottom: 3px !important;
    }
    #c_toprice {
        padding-bottom: 0px !important;
            margin-bottom: 3px !important;
    }

    .elementor-element-f122518 .swiper-slide-inner {
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,0) 35%, rgba(0,0,0,1) 100%);
    }

    .elementor-177 .elementor-element.elementor-element-97d6425 {
        text-align: right !important;
    }
    .elementor-177 .elementor-element.elementor-element-d8aeb32 {
        text-align: right !important;
    }

    .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
         padding: 0 !important;
    }
    .elementor-177 .elementor-element.elementor-element-da0b0af .widget-image-caption.c-km {
        color: #69c9bf !important;
        font-weight: 700 !important;
        padding-top: 5px;
    }
    .elementor-177 .elementor-element.elementor-element-da0b0af .widget-image-caption {
        color: #69c9bf !important;
        font-weight: 700 !important;
        /* background-color: white; */
        padding-top: 5px;
    }
    .elementor-177 .elementor-element.elementor-element-7880ab5 .widget-image-caption {
        color: #69c9bf !important;
        padding-top: 0px !important;
    }
    /*.elementor-column {*/
    /*    width: 100%;*/
    /*    padding-left: 0px !important;*/
    /*    padding-right: 0px !important;*/
    /*}*/

    .elementor-element-af3ceee .elementor-element-921d4d6 {
            padding-left: 0px !important;
            padding-right: 0px !important;
    }
    .elementor-177 .elementor-element.elementor-element-921d4d6 > .elementor-element-populated {
        margin: 0px 10px 0px 10px !important;
    }
    .elementor-177 .elementor-element.elementor-element-3e7edd4 .elementor-text-editor {
        text-align: right !important;
    }

    .elementor-column-gap-wider>.elementor-row>.elementor-column>.elementor-element-populated {
        padding: 17px !important;
    }

    .elementor-177 .elementor-element.elementor-element-da0b0af .widget-image-caption {
         padding-top: 0px !important;
    }

    .elementor-button.elementor-size-lg {
        padding: 12px 8px !important;
    }

    .elementor-177 .elementor-element.elementor-element-3e7edd4 > .elementor-widget-container {
        padding: 15px 0px 15px 15px !important;
    }
}
.cust-select{
    -webkit-appearance: none;
    -moz-appearance: none;
}
.position-relative{
    position: relative;
}
.green-round{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0 !important;
    color: #69c9bf !important;
    font-weight: 700 !important;
}
/*.elementor-button.elementor-size-lg {*/
/*    padding: 20px 10px !important;*/

/*}*/