.elementor-36 .elementor-element.elementor-element-c2d5f4b .elementor-field-group .elementor-select-wrapper select {
    border: 1px solid #d4d4d4 !important;
}
.elementor-36 .elementor-element.elementor-element-ef28c67:not(.elementor-motion-effects-element-type-background), .elementor-36 .elementor-element.elementor-element-ef28c67 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
    box-shadow: unset !important;
}

.elementor-36 .elementor-element.elementor-element-ef28c67 {
    transition: unset !important;
}

.elementor-36 .elementor-element.elementor-element-d2d9caf > .elementor-element-populated {
    box-shadow: unset !important;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-36 .elementor-element.elementor-element-879e062 > .elementor-element-populated {
     box-shadow: unset !important;
    padding: 16px 16px 16px 0 !important;
}
.elementor-36 .elementor-element.elementor-element-ef28c67:not(.elementor-motion-effects-element-type-background), .elementor-36 .elementor-element.elementor-element-ef28c67 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    border: 1px solid #d4d4d49e !important;
}

.elementor-36 .elementor-element.elementor-element-dbee2cf:not(.elementor-motion-effects-element-type-background), .elementor-36 .elementor-element.elementor-element-dbee2cf > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    height: 67px !important;
}

.elementor-36 .elementor-element.elementor-element-71bf663:not(.elementor-motion-effects-element-type-background), .elementor-36 .elementor-element.elementor-element-71bf663 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    height: 480px !important;
}

.elementor-72 .elementor-element.elementor-element-c5b634e:not(.elementor-motion-effects-element-type-background), .elementor-72 .elementor-element.elementor-element-c5b634e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    /*margin-top: 37px !important;*/
}

.elementor-element-7c511ea .c-for-shadow {
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #ececec;
}
.elementor-36 .elementor-element.elementor-element-55cb897 {
    position: relative;
    right: 20px;
}
@media (min-width: 100px) and (max-width: 767px) {

    .elementor-element-f5399d4 {
        display: none;
    }

    #form-field-email {
        border-radius: 0px !important;
    }
}
